
a,h1,h2,h3,h4,p,span{
    font-family: 'Oswald', sans-serif;
}
.navbar{
background:transparent !important;
}
.section-hero{
    background:url(../img/alternative-bg11.jpg) no-repeat center/cover;
    min-height: 600px;

}
@media screen and (min-width: 1000px) {
    .section-hero{
        background:url(../img/alternative-bg11.jpg) no-repeat center/cover;
        min-height: 800px;
    
  }
}
@media screen and (max-width: 800px) {
    .section-hero{
        background:url(../img/alternative-bg11.jpg) no-repeat left/cover;
        min-height: 800px;
    
  }
  .span-orange{
      
      background-color: hsla(19, 81%, 51%,0.5);
      height: 1.5em;

  }
  .section-hero h1{
    color: black; 
  }
  h3{
    color: black;  
  }
  .section-hero h1:after {
    content: '';
    position: absolute;
    width: 224px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: hsl(19, 81%, 51%);
}
  .section-hero p {
    color: black;
}

}
.section-hero p {
    text-align: right;
    margin: 0 0 14px 0;
    font-size: 1.2em;
}
.section-hero h1:after {
    content: '';
    position: absolute;
    width: 224px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: hsl(19, 81%, 51%);
}
.section-hero h1 {
    padding-top:45px ;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 18px;
}

.btn{
    background: hsl(19, 81%, 51%);
    border: none;
}
.btn:hover{
    background: #f80404;
    
}
.flex {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;

}
.item {
    flex-wrap: wrap;
    flex: 1 1;
    box-sizing: border-box;
    text-align: center;
    justify-content: space-around;
}
@media screen and (max-width: 800px) {
    .flex {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
    
    }
    .item {
        flex-wrap: wrap;
        flex: 1 1 1;
        box-sizing: border-box;
        text-align: center;
        
    }
    /* specific CSS */
  }
.advantages{
    margin-top: 40px;
}
@media screen and (max-width: 800px){
    video{
        max-height: 600px;
        width: 300px;
    }
    .modal-content{
        top: 25%;
        bottom: 25%;
    }
    i{
        font-size: 1.3em;
       
    } 
}
.video-section h2{
    text-align: center;
}
video{
    display: block;
    margin: 0 auto;  
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: hsl(19, 81%, 51%);
}
a{
    color: black;
}
.tab-pane{
    display:flex;
    flex-direction: row;
}
div.row{
    margin-top: 30px;
    box-sizing:border-box;
}
.row{
    margin-left:0 !important;
    margin-right: 0 !important;
   
}
img{
    max-width: screen;
}
footer{
    background: hsl(19, 81%, 51%);
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    width: screen;
    
}
footer a{
    padding: 10px 0 10px 0;
}
i{
    font-size: 2em;
   
}  
a.insta-href{
text-decoration: none;
} 

.tab-content>.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div#promo{
    display: flex;
    justify-content: center;
}
.promo{
    border:4px solid gray;
   
  
   font-size: 1.2em;
}
.promo:focus{
    border-color:hsl(19, 81%, 51%);
}

/* register form */
#register, 
#login {
    position: absolute;
    top: 0px;
    width: 88%;	
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#register {	
    z-index: 21;
    opacity: 0;
}
#login {
    z-index: 22;
}

